#root {
  margin: 0;
  padding: 0;
  width: full;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.active {
  color: #f60;
  font-weight: bold;
  font-size: 16px;
}
